# ========================
# .NET / ASP.NET Core
# ========================
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.pdb

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# ========================
# Existing (React)
# ========================
node_modules/
coverage/
build/
iis-publish/

backend/FbrSmartApp.Api/wwwroot/**
!backend/FbrSmartApp.Api/wwwroot/.gitkeep

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*